.THIS .slds-form_horizontal .slds-form-element .slds-form-element__label{
        max-width: 34% !important;
}

.THIS .slds-form_horizontal .slds-form-element .slds-form-element__control{
    padding-left: 25%!important;
    padding-right: 60%!important;
}

.THIS .lessThan10Items{
    max-height: 300px;
}

.THIS .greaterThan10Items{
    height: 283px;
}

.THIS .slds-grid_align-spread {
    justify-content: center !important;
}

.THIS .slds-grid_align-spread .slds-grid--align-spread {
    justify-content: center;
}